.navbar {
  position: fixed;
  top: 0px;
  background-color: #363062;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  box-sizing: border-box;
  color: rgb(221, 221, 221);
  border-bottom: 1px solid rgb(104, 104, 104);
  display: flex;
  align-items: center;
}
.navbar > div {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
}

.navbar > div i {
  font-size: 34px;
}

.navbar > div span {
  color: rgb(156, 156, 156);
  font-size: 10px;
}

.initial > div {
  width: 20%;
  height: 20%;
  margin: auto;
  margin-top: 20%;
}
.initial img {
  width: 100%;
}

.initial p {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
